/* Teacher */

.assignmentApprovalContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#assignmentFeedbackTextarea {
    min-width: 100%;
}   

.assignmentApprovalContent .studentassignments {

    width: 50%;
}
.assignmentApprovalContent .assignmentDocument {
    width: 50%;
    text-align: right
}

.assignmentApprovalContent .assignmentFeedback {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}


.assignmentApprovalContentText { /* Used in JS */
    text-align: center;
    display: block;
    width: 100%;
    margin: 3em;
}


/* Student */

.studentAssignmentTable {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}
.studentAssignmentTable tr:nth-child(even) {
    background: rgba(0, 0, 0, .1)
}

.studentAssignmentTable th:nth-child(1)  {
    width: 50%;
    padding-left: 1em;
}

.studentAssignmentTable th:nth-child(2)  {
    text-align: center
}

.studentAssignmentTable th:nth-child(3)  {
    text-align: right;
}

.studentAssignmentTable th  {
    padding: .25em 0;
}
a.assignmentButton {
    padding: .25em .5em;
    line-height: 2em;
}

.studentAssignmentTable tr.feedbackText {
    background: rgba(255,242,255,0.9);
    color: #000;
}

.feedbackText strong,
.feedbackText p {
    margin: 1em;
    margin-left: 0;
}
.feedbackText p {
    margin-top: 0;
}

.assignments {
    width:50%;
    align-content:center;
    padding-left:5%;
  }