body {


    background-image: url('../img/1.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position:center, center;
    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);

    font-family: verdana, sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
}


.attendence {
    background-color: #D900E8;
    margin: 15% 30%;
    padding: 5% 10%;
    border: 15px solid #91009C; 
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}