@charset "UTF-8";
/* Branding related styling

Color map Branding

hex:
1. #FA6400 main
2. #FA9500
3. #E8770C
4. #E84D0C
5. #B02A09

rgb();
1. 250,100,0 main
2. 250,149,0
3. 232,119,12
4. 232,77,12
5. 176,42,9

background:
1. rgba (252,155,86.0.9) Light
2. rgba (204,82,0,0.9) Dark

*/
/*====================================
  Brand Styling based on shool identity, active when loged in
=====================================*/

body{
  background-image: url('../img/kyh1.jpg');
}

.button,
textarea,
input[type=submit],
input,
input::placeholder,
select,
button {
  background: rgba(252,155,86,.0.9);
  color: #E8770C;
  border: 1px solid #FA9500;
}

.button:active,
button:active,
textarea:focus,
input:focus,
select:focus {
  background: #fff;
  color: #FA6400;
  border: 1px solid #FA6400;
}

input::placeholder, input:focus::placeholder{
  color: #FA6400;
}

.button,
button {
  background-color: rgb(250,100,0);
  color: #fff;
}

.wrap{
  background-color: rgba(252,155,86.0.9);
}

.content{
  background-color: rgba(252,155,86.0.5);
 }

.content.dark{
  background-color: rgba(204,82,0,0.5);

}

.scrollHead a{
  background: rgb(176,42,9) no-repeat;
}

.apperance {
  background-color:rgba(176,42,9,1);
}

/*====================================
nav  attributes Branding
=====================================*/

#nav .current {
  background-color: rgba(250,100,0,1);
  /* color: #d900e8; */
}

#nav ul {
  background-color:rgba(176,42,9,1);
}

#nav ul li a:hover {
    background-color: rgba(250,100,0,1);
}

#nav ul li:nth-child(1) a {
 padding: 0;
}

/*====================================
Modal Branding
=====================================*/

.modal-content {
  background-color: #B02A09;
}

/*====================================
News Branding
=====================================*/

.news {
  background-color: rgba(250,149,0,0.5);
}

.news-content2 {
  background-color: rgba(232,77,12, 0.35);
}

/*====================================
Pricing Branding
=====================================*/

.pricingContent button {
  background: rgba(232,119,12,1);
  border-color: rgba(232,119,12,1);
  border: 1px solid rgba(232,119,12,1);
}


/*====================================
courses.css Branding
=====================================*/

.tab label {
    background: rgba(250,149,0, 0.5);
}

.tab input:checked+label,
.tab label:hover {
  background: rgb(232,77,12);
}

.tab-content, .tab-content2 {
  background-color: rgba(176,42,9, 0.9);
}

.studentAssignmentTable tr.feedbackText {
    background: rgba(252,155,86.0.9);
}

/*====================================
feedback.css Branding
=====================================*/

.send-button { /* button-styling */
    background-color: #E8770C;
}

.send-button:hover, label:hover {
    background-color: #E84D0C;
}

/* =====================================
accounts.css Branding
===================================== */

.account-content {
  background-color: #B02A09;
}

.account-main-content h2{
  background-color: rgba(250,149,0,0.5);
}

.account-main-content button:hover {
  background-color: rgba(250,149,0,0.5);
}
