.course-evaluation textarea {
    width: 100%
}

.mandatory {
    position: relative;
}
.mandatory::after {
    content: "*";
    position: absolute;
    color: #ff0000;
    padding: .2em
}

.color-red {
    color: #ff0000
}

.course-contains {
    line-height: 250%;
    margin-bottom: 1.5em;
}
.thanks {
	height:95%;
	z-index:1002;
}