
    .tab-group{
      margin: 0 auto;
      width: 100%;
      height:auto;
    }/*.tab_grup*/

    .tab{
      position: relative;
      width: 100%;
      float: left;
      display: block;
      height: auto;
    }/*.tab*/

    .tab input{
      position: absolute;
      left: 0;
      top: 0;
      z-index: -999;
    }

    .tab label{
      background: rgba(166,79,172,0.5);
      color: rgb( 255,255,255);
      display: block;
      font-weight: bold;
      line-height: 3;
      margin-bottom: .5em;
      transition: letter-spacing .55s;
    }

    .tab input:checked + label,
    .tab label:hover {
      letter-spacing: 1px;
      background: rgb(221,70,232);
    }

    .tab-content{
      max-height: 0;
      overflow: hidden;
      transition: all .35s;
      display:flex;
      flex-direction: row;
      flex-wrap:nowrap;
      background-color:rgba(98,0,105,0.9);
      color: rgb( 255,255,255);
    }

    .tab-content p {
      margin: 1em 0;
    }

    .tab input:checked ~ .tab-content {
      max-height: 30em;
    }


	label span {
		display: inline;
		float: right;
		padding: 0 1em 0 0;
	}


    .assignments {
      width:50%;
      align-content:center;
      padding-left:5%;
    }
    .infoTab {
      width:50%;
    }

    .ex{
      text-decoration: underline;
    }


    ul.pricing-list li {
    list-style-type: dotted;
    font-size: 1em;
    margin: .8em 0;
    }

    ul.pricing-list li.yes {
        list-style-image: url(../img/yes_tick.png);
    }

    ul.pricing-list li.no {
        list-style-image: url(../img/no_tick.png);
    }

.tabPadding {
  padding-left:1em;
}

.news-content {
  display: flex;
  flex-direction: column; 
}

.newsTab {
  display:flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ffffff;
}

.newsTab h2 {
  font-size: 1em;
  flex:1;
}

.newsTab h3 {
  flex:1;
  font-size: 1em;
  text-align: end;
}

.newsTab p {
  flex:3;
  order: -1;
}
.attendanceTab {
  height:auto;
  width:100%;
  display:flex;
  flex-direction:row;


}
.attendanceContent {
  display:flex;
  flex-direction:column;
width:33%;
  
}
.attendanceTab2 {
  display:flex;
  flex-direction:column;
  padding-left:1em;
  width:33%;

}
.attendanceTab3 {
  display:flex;
  flex-direction:column;
  width:33%;
  padding-left:1em;
}
.attendanceMain {
  display:flex;
  flex-direction:row;
  
  width:100%;

}
.tab-content2 {
      max-height: 0;
      overflow: hidden;
      transition: all .35s;

      background-color:rgba(98,0,105,0.9);
      color: rgb( 255,255,255);
}
    .tab-content2 p {
      margin: 1em 0;
    }

    .tab input:checked ~ .tab-content2 {
      max-height: 30em;
    }