@charset "UTF-8";
/* main styling
Color map main

hex:
1. D900E8
2. A64FAC
3. 91009C
4. DD46E8
5. 620069     Dark purple
6. 3b003f     Darker purple of number 5.

rgb():
1. 217,0,232
2. 166,79,172
3. 145,0,156 main
4. 221,70,232
5. 98,0,105

Background
1. rgba(255,242,255,0.9)
2. Dark rgba(255,231,255,0.9)

*/
/*====================================
  main styling for index.html and main styling for content
=====================================*/

* {
    box-sizing: border-box;
}/* (*) */

body{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
  margin-top: 5em;

  background-image: url('../img/1.jpg');
  background-repeat:no-repeat;
	background-attachment: fixed;
  background-size: 100% auto;
	background-position:center, center;
  font-family: verdana, sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);

}/*body*/
p {
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

input[type="text"], input[type="password"] {
  max-width: 100%;
}

.button,
textarea,
input[type=submit],
input,
input::-webkit-input-placeholder,
select,
button {
  background: rgba(255,242,255,0.9);
  border: none;
  color: #D900E8;
  font-size: .9em;
  padding: .5em;
  font-family: verdana, sans-serif;
  margin: .2em 0;
  border: 1px solid #A64FAC;
}


a.button {
  line-height: 3.5em;
  text-decoration: none;
}


.button:active,
button:active,
textarea:focus,
input:focus,
select:focus {
  background: #fff;
  color: #D900E8;
  border: 1px solid #D900E8;
}

input:focus::-webkit-input-placeholder{
  color: #D900E8;
  border: none;
}

input::-webkit-input-placeholder{
  border: none;
  background: none;
  color: #D900E8;
}

.button,
button {
  padding: 1em;
  color:  rgba(255, 255, 255, 1);
  background-color: rgb(98,0,105);
}

.button,
button,
input[type=submit],
label,
input[type=radio],
input[type=checkbox],
a {
  cursor: pointer;
}

.main{
  display: block;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;

}
.wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: auto;
  justify-content: center;
  background-color: rgba(255,242,255,0.9);
}

.hiddenCode{
  display: none;
}

.index{
  min-height: calc(100vh - 5em);
}

.teachWrap{
  align-items: flex-start;

}

.content{
 min-height: calc(100vh - 5em);
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
 background-color: rgba(255,242,255,0.5);
}

.content.dark{
  background-color: rgba(255,231,255,0.5);

}

.scroll{
  min-height: 100vh;
}
.content.mobile{
  min-height: 5em;
  height: 5em;
}

.mobileShow{
  display: none;
}

.scrollHead{
  position: fixed;
  flex-direction: column;
  z-index: 1000;
  right: 0;
  padding-top: 25vh;
  vertical-align: middle;
  padding-right: 2.5em;
}

.scrollHead a{
  content:none;
  display: block;
  width: 1em;
  height: 1em;
  min-width: 50px;
  min-height: 50px;
  background: rgb(98,0,105) no-repeat;
  background-blend-mode: overlay;
	background-size: cover;
  opacity: 0.7;
  border-radius: 50%;
}

.scrollHead a:hover{
  opacity: 1;
}
.scrollHead a.active{
  opacity: 1;

}

/* img{
    display: block;
    width: 200px;
    height: auto;
    border-radius: 5%;
    z-index: 500;
  } */

.features, .pricing, .textContent, .teachCourses {
  width: 30%;
  padding: 0;
  margin: 2.5% 5% 0 5%;
  text-align: center;

}

.teachCourses{
  width: 20%;
  height: 25vh;
  vertical-align: middle;
  line-height: 25vh;
  margin: 1em 1em 1em 1em;
  overflow: hidden;
}

.textContent{
  width: 70%;
  min-height: 35vh;
}

.features, .pricing{
    height: 35vh;
    vertical-align: middle;
    line-height: 35vh;
}

.pricingContent {
  margin: 2.5% 5%;
  width: 33%;
  padding: 1em;
}

.pricingContent{
  margin: 2.5% 5%;
  height: auto;
  width: 33%;
  padding: 1em;
}


h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
}

h2{
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}

.teacherAssignmentTable h6 {
  margin-top: 4em
}

.teacherAssignmentTable:nth-child(1) h6,
.teacherAssignmentTable:nth-child(2) h6 {
  margin-top: 0;
}

.apperance {
  background-color:rgba(98,0,105,1);
  font-size: 1.1em;
}

.innerContent {
  margin: 5%;
  padding: 2em;
  width: 70%;

}

.pricingAjust{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.click{
  display:inline-block;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: inherit;
}


.par, .teachContent{
  width: 100%;
  min-width: 100%;
}

.par{
  margin-bottom: 1em;
}

.courseName {
  width: calc(80% + 6em);
  min-width: 80%;
  height: 2.5em;
  vertical-align: text-top;
  text-align: left;
  padding-left: 1em;
  font-weight: bold;
  text-decoration: underline;
  top: 0;
  line-height:2.5em;

}

  /*===================================================================================
  nav  attributes
  ====================================================================================*/

  header{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
  }

  .hidden-max-500 {
    display: flex;
  }

  #nav .current {
    background-color: rgba(145,0,156,1);
    /* color: #d900e8; */
  }

  #nav ul {
      /* display: flex; */
      flex-direction: row;
      flex-wrap: wrap;
      /* This aligns items to the end line on main-axis */
      justify-content: flex-end;
      background-color:rgba(98,0,105,1);
      width: 100%;
      overflow: hidden;

  }

  #nav ul li {
      height: 5em;
      line-height: 5em;
      text-align: center;
      letter-spacing: 1px;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
      align-content: flex-end;
      flex-grow: 0.1;
  }

  #nav ul li a {
      transition-duration: 1s;
      padding: 2em;
      text-decoration: none;
      color: white;
  }

  #nav li:hover {
      background-color: rgba(145,0,156,1);
      transition-duration: 1s;
  }

  #nav-button-max-500 {
      display: none;
      background-color: rgba(145,0,156,1);
      justify-content: space-between;
      padding: 10px;
  }

  #nav-button-max-500 img {
    max-width: auto;
    max-height: 70px;
  }

  }

  #nav ul li:nth-child(1) {
   flex-grow: 3;
   flex-shrink: 0;
   display: flex;
   line-height: normal;
  }

  #nav ul li:nth-child(1) img{
      display:block;
      width: auto;
      height: 5em;
      z-index: 500;
      top: 0;
      left: 0;
    }


  #back {
  font-size: 1em;
  float: right;
  padding: 0;
  border: none;
}

#menu-button {
  background-color: none;
  border-radius: 50%;
}
/*  #nav > ul > li:nth-child(1) > a */

/*
#nav ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
}
*/



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000000000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: slideIn; /* Fade in the background /*/
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #3b003f;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn ;
  animation-duration: 0.4s;
}

.modal-content-width-50 {
  width: 50%;
}

.close,
.assignmentClose,
.attendanceClose {
  color: #DBDBDB;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover,
.close:focus,
.assignmentClose:hover,
.assignmentClose:focus,
.attendanceClose:hover,
.attendanceClose:focus {
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}

#loginButton:hover {
  cursor: pointer;
}

/*=========================================================================================
This is CSS only for the news.html page
===========================================================================================*/

.news-head {
  padding: 3em 0;
}

.news {
  width: 100%;
  padding: 1em;
  font-weight: bold;
  background-color: rgba(166,79,172,0.5);
}

.news-content {
  display: flex;
  flex-direction: column;
}

.newsTab {
  display:flex;
  flex-direction: row-reverse;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #ffffff;
}

.newsDate {
  padding-left: 1em;
  flex: 1;
  font-size: 0.8em;
}

.news-content2 {
  background-color: rgba(221,70,232, 0.35);
  padding: 1em;
  flex: 3;
  font-size: 1em;
}

.newsHead {
  font-size: 1.5em;
}
/*==========================================
Add Animation for modal. Under construcktion for all pages testing on teacher.html
============================================*/

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


ul.pricing-list {
   list-style-position: inside;
   margin: 1em;
   margin-bottom: 4em;
   flex-grow: 1;
}

ul.pricing-list li {
    font-size: 1em;
    margin: .8em 0;
}

ul.pricing-list li.yes {
    list-style-image: url(../img/yes_tick.png);
}

ul.pricing-list li.no {
    list-style-image: url(../img/no_tick.png);
}

.pricingContent button {
    width: calc(100% - 2em);
    margin: 0 1em;
    font-size: 1.5em;
    padding: .5em;
    cursor: pointer;
    background: rgba(145,0,156,1);
    border-color: rgba(145,0,156,1);
    border: 1px solid rgba(145,0,156,1);
    color: #fff;
    transition: .5s;
    text-transform: uppercase;
}
.pricingContent button:hover {
    background: none;
    border-color: #fff;
    transition: 1s
}

.pricingContent p {
    margin: 2em 0;
}

.pricingContent {
    display: flex;
    flex-direction: column;
}

.pricing_pic {
    float: right;
    width: auto;
    margin-left: 3em
}


.StudentListTable {
	width: 100%;
}


/* =================================================================================
CSS for accounts.html on admin pages
================================================================================= */


.account-content {
  background-color: rgba(98,0,105,1);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  margin: 5% 20%;
}

.account-form {
  text-align: center; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account-main-content h1{
  font-size: 3em;
}

.account-main-content h2{
  font-size: 2em;
  background-color:rgba(166, 79, 172, 0.5);
}

.account-main-content h3{
  font-size: 1.5em;
}

.response-area {
  display: flex;
  flex-direction: row;
}

.account-main-content input::placeholder {
  border: none;
}

.account-main-content button:hover {
  background-color: rgba(166, 79, 172, 0.5);
}

#accout-respond-box {
  margin: 2em;
}

#account-username, 
#account-password, 
#account-full-name,
#account-email,  
#account-type {
  padding-bottom: 2em;
}

#account-username {
  padding-top: 2em;
}

#submit-button {
  padding: 2em;
}

