@charset "UTF-8";

/* Media Query for resizeing */


/*====================================
  media querys 1200px or less screen width
=====================================*/

@media (max-width: 1410px) {
  .studentAssignmentTable th:nth-child(1) {
    width: 50%;
  }
}

@media (min-width: 100px) and (max-width: 1080px){
  .textContent p {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  body {
    background-size: auto 100%;
  }

  .mobileHide {
    display: none;
  }
  .mobileShow {
    display: flex;
  }
  .index {
    /*companion to wrap but just for index.html*/
    flex-direction: row;
  }
  .textContent {
    order: 2;
    width: 100%;
    margin: 0;
    /* margin-top: -17.5em; */
    margin-top: -7.5em;
    top: 0;
  }

  .features {
    order: 0;
    z-index: 12;
  }
  .pricing {
    order: 1;
    z-index: 13;
  }
  .innerContent,
  .quick-evaluation-content {
    margin: 5% 0;
    width: 100%;
  }
  /*pricing.html*/
  .pricing,
  .features {
    width: 50%;
    margin: 2.5% 0;
    min-height: 2.5em;
    height: 5em;
    border: none;
    padding: 0.9em;
    line-height: normal;
  }

  .textContent{
    margin-top: 2em;
  }

  .pricing_text{
    margin: 0 2em 2em 2em;
  }

  .marLeft{
    margin: 0 0 0.5em 0.5em;
  }

  .teachWrap{
    padding-top: 2em;
  }

  .pricingContent {
    margin: 5% 0;
    width: 100%;
  }
  .pricingAjust {
    flex-direction: column;
  }
  .pricing_pic {
    float: right;
    width: 60%;
    margin-left: 0
  }
  .scrollHead {
    display: none;
  }
/* ============================================================================ */

  #nav-button-max-500 {
    display: flex;
  }
  /*menu all .html files*/

  #nav .current {
      background-color: rgba(145, 0, 156, 0);
      /* color: #d900e8; */
  }

  #nav ul {
    flex-direction: column;
  }

  #nav ul li {
    /* width: 50%; */
    text-align: center;
  }
  #nav ul li a {
    display: block;
    padding: 0;
  }
  #nav ul li:nth-child(1) {
    flex-grow: 0;
    display: none;
    padding: 2em;
  }
  .quick-evaluation-wrap {
    position: static;
    width: 100%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column
  }
  .content-pricing {
    flex-direction: column
  }
  #quick-evaluation {
    flex-direction: row;
  }
  .glad-message {
    top: 70%;
    right: auto;
    left: 70%;
    border-top-right-radius: 1em;
    border-top-left-radius: 0;
  }
  .modal-content {
    width: 50%;
    margin-top: 12em;
  }

  #groupWrap {
    display: none;
  }

  .displaysUnder1200 {
    display: flex;
  }
}


/*@media 1200px*/


/*====================================
  media querys 769px or less screen width
=====================================*/

@media (max-width: 769px) {
  .pricing_pic {
    float: right;
    width: 100%;
    margin-left: 0;
  }
  .tab-content {
    flex-direction: column;
  }
  .assignments,
  .infoTab {
    width: 100%;
  }
  .studentAssignmentTable th:nth-child(1) {
    width: auto;
    word-break: keep-all;
  }
  .studentAssignmentTable {
    font-size: 90%;
  }

  .studentAssignmentTable th:nth-child(3) a {
   display: inline-block;
  }
  .modal-content {
    width: 90%;
  }
  .innerContent {
    padding: 0 0.2em;
    margin-top: 2.6em;
  }
  label.tabPadding {
    font-size: 80%;
  }

  .assignments {
    align-content: flex-start;
    padding-left: 0;
  }

  .teachCourses {
    width: 90%;
  }

  .assignmentsTeacher {
    flex-direction: column
  }
  .teacherAssignmentTable {
    width: 100%
  }
  #createNewEducation {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

  }
  .invisible-box {
    display: none;
  }

  .textContentApparance {
    font-size: 1.1em;
    background: rgba(166,79,172, 0.5) url('../img/white_tiger_mobile.jpg') no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% auto; */
    background-position: center, center;
  }
}


/*====================================
	  media querys 500px or less screen width
	=====================================*/

@media (max-width: 500px) {}
