#quick-evaluation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#quick-evaluation img {
    cursor: pointer;
    position: relative;
    width: 60%;
    margin: 5% auto;
    height: auto
}

.evaluation-info {
    font-style: italic;
    font-size: 80%
}
/* 
#quick-evaluation-thank-you {
    position: absolute;
    visibility: hidden;
    opacity: 0;    
} */

.quick-evaluation-inner {position: relative}



.quick-evaluation-wrap {
    position: fixed;
    width: 10%;
    font-size: 80%;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.quick-evaluation-wrap a {
    color: #fff
}

.quick-evaluation-content {
    
    padding: 1em;
}


.glad-message,
.sad-message,
.between-message {
    position: absolute;
    display: none;
    z-index: 1000;
    background: #fff;
    color: #000;
    padding: .5em;
    border-radius: 1em;
    border-top-right-radius: 0;
      
    top: 70%;
    right: 70%;

    width: 8em;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center
}

#glad:focus + .glad-message,
#sad:focus + .sad-message,
#between:focus + .between-message {display: block;}

.opacity50 {
    opacity: .5;
}