.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog:target {
    opacity:1;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background-color: #3b003f;
    border: 1px solid #888;
}


.flexRow {
    display: flex;
    flex-direction: row;
    background: rgba(98,0,105,1);
    padding: 1em 0;
    margin-bottom: 3em
}

.flexRow .assignmentButton {
    width: 100%;
    margin: 0 1em;
    background: #3b003f;
    text-align: center;
    font-size: 120%;
    padding: 3em 1em;
}

h3.flexRowTitle {
    width: 100%;
    background: #3b003f;
    margin: 0;
    padding: .2em;
    padding-left: .5em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


.width100 {
    width: 100%;
}