
#chart_div {
    justify-content: center;
    margin: 2em 0 0 1em;
}

.result-text {
    margin: 0 0 1em 0;
}

.result-text li {
    font-size: 1em; 
}

.result-text p {
    font-size: 1em;
}
/* 
.result-text2 {
    margin-left: 7em;
} */

.result-text2 h5, .result-text h5 {
    font-weight: bold;
    margin-top: 1.5em;
}

.chart-5 h5, .chart-6 h5, .chart-7 h5, .chart-8 h5 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.result-text3 h5 {
    font-weight: bold;
    margin-bottom: 0.5em;
}


.comments {
    line-height: 1.5em;
}

.days {
    line-height: 2em;
}

.weeks {
    text-decoration: underline;
}