* {
    box-sizing: border-box;
}

.radio { /* set space between radio-inputs and h2 */
    margin: 1em 0 2em 0;
}

.radio p { 
    display: inline; /* place the texts beside radio-buttons */
    font-size: 1em; 
    color: #620069;
}

.form-wrap { 
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em 0 2em;
    background-color: #A64FAC;
}

.form-wrap h1 { 
    font-size: 2em; 
    padding: 0.5em 0 0 0; /* space between h1 and header */
}

.form-wrap h2 {
    font-size: 1.3em;
    margin: 0em 0 0 0;
}

input[type="text"] { /* namebox-sizing */
    width: 25em;
    margin: 0 0 2em 0;
}

.send-button { /* button-styling */
    width: 10em;
    margin: 1em 0 5em 0;
    background-color: #620069; 
    border: none;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;  
    cursor: pointer;
}

textarea { /* textarea-sizing */
    height: 4em;
    width: 30em;
    margin: 1em 0 2em 0;
}