.radio { /* set space between radio-inputs and h2 */
    margin: 1em 0 3em 0;
}

.radio p { 
    display: inline; /* place the texts to the left&the right of radio-buttons */
    font-size: 0.8em; 
    color: #FFFFFF;
}

/* .form-wrap { 
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em 0 2em;
    background-color: #A64FAC;
} */


input[type="text"] { /* namebox-sizing */
    width: 25em;
    margin: 0 0 2em 0;
}

.send-button { /* button-styling */
    width: 10em;
    margin: 1em 0 5em 0;
    background-color: #91009C; 
    border: none;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;  
    cursor: pointer;
}

.send-button:hover {
    background-color: #DD46E8;
    color: #FFFFFF;
}

textarea { /* textarea-sizing */
    height: 4em;
    width: 30em;
    margin: 1em 0 2em 0;
}

.required {
    color: red;
    font-size: 0.9em;
}

label {
    float: left;
    position: relative;
    padding: 0 1em;
    text-align: center;
  }

label:hover {
    color: #DD46E8;
    font-size: 1.1em;
} 
  
.p-left {
    float: left;
    width: 5em;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}