
.content {
	display: flex;
	justify-content: center;	
}

.button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	border-radius: 5%;	
}

.button a {
	text-decoration: none;
	color: white;
	font-size: 2em;
}


#wrap fieldset label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}